.gallery{
 margin: spx;
border: 1px solid black;
width: 200px;


}
.gallery:hover{
    border: 1px solid black;
}
div .gallery img{
    width: 100;
    height: auto;
}
div.descs{
    padding: 15px;
    text-emphasis:center;
}
a[href="https:/shkolladigitale.com/"]{
    color: blue;
}



    


